<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-comment-heading" data-cy="CommentCreateUpdateHeading" jhiTranslate="finspinApp.comment.home.createOrEditLabel">
        Create or edit a Comment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="finspinApp.comment.createdDate" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="finspinApp.comment.updatedDate" for="field_updatedDate">Updated Date</label>
          <div class="d-flex">
            <input
              id="field_updatedDate"
              data-cy="updatedDate"
              type="datetime-local"
              class="form-control"
              name="updatedDate"
              formControlName="updatedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="finspinApp.comment.content" for="field_content">Content</label>
          <input type="text" class="form-control" name="content" id="field_content" data-cy="content" formControlName="content" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="finspinApp.comment.disabled" for="field_disabled">Disabled</label>
          <input type="checkbox" class="form-check" name="disabled" id="field_disabled" data-cy="disabled" formControlName="disabled" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="finspinApp.comment.upVote" for="field_upVote">Up Vote</label>
          <input type="number" class="form-control" name="upVote" id="field_upVote" data-cy="upVote" formControlName="upVote" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="finspinApp.comment.downVote" for="field_downVote">Down Vote</label>
          <input type="number" class="form-control" name="downVote" id="field_downVote" data-cy="downVote" formControlName="downVote" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="finspinApp.comment.permLink" for="field_permLink">Perm Link</label>
          <input type="text" class="form-control" name="permLink" id="field_permLink" data-cy="permLink" formControlName="permLink" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="finspinApp.comment.owner" for="field_owner">Owner</label>
          <select class="form-control" id="field_owner" data-cy="owner" name="owner" formControlName="owner">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('owner')!.value?.id ? editForm.get('owner')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="finspinApp.comment.task" for="field_task">Task</label>
          <select class="form-control" id="field_task" data-cy="task" name="task" formControlName="task">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="taskOption.id === editForm.get('task')!.value?.id ? editForm.get('task')!.value : taskOption"
              *ngFor="let taskOption of tasksSharedCollection; trackBy: trackTaskById"
            >
              {{ taskOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
