<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="organisation">
      <h2 data-cy="organisationDetailsHeading"><span jhiTranslate="finspinApp.organisation.detail.title">Organisation</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ organisation.id }}</span>
        </dd>
        <dt><span jhiTranslate="finspinApp.organisation.name">Name</span></dt>
        <dd>
          <span>{{ organisation.name }}</span>
        </dd>
        <dt><span jhiTranslate="finspinApp.organisation.blocked">Blocked</span></dt>
        <dd>
          <span>{{ organisation.blocked }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/organisation', organisation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
